.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    padding-bottom: 13px;
    border-top: 1px solid #E4E4E4;
}

.footer a {
    color: #5f6368;
    text-decoration: none;
}

.header {
    position: fixed;
    right: 0;
    top: 0;
    color: black;
    padding-right: 30px;
}

.header a, img{
    text-decoration: none;
    color: black;
    padding-left: 7.5px;
    padding-right: 7.5px;
    display: inline-block;
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#fls  {
    float: left;
}

#fls a {
    padding-left: 25px;
}

#frs  {
    float: right;
}

#frs a {
    padding-right: 25px;
}

#hrs {
    float: right;

}

#fadein {
    opacity: 0.6;
    transition: 0s;
}

#fadein:hover {
    opacity: 1;
}

#signin {
    background-color: #4684EF;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 3px;
}

button {
    outline: none;
}

.middlepage {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: auto;
    padding-top: 200px;
}

input, select, textarea {
    line-height: 38px;
    font-family: inherit;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    border-color: #DFE1E4;
    margin-top: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 41.5%;
    text-indent: 20px;
}

input:focus, input:hover {
    outline: none;
    box-shadow: 0px 0px 4px 8px #f3f3f3;
}

input {
    background: url(images/mag-mic-search.png) no-repeat scroll 15px 9px;
    padding-left: 30px;
}

.searchbuttons {
    padding-top: 13px;
}

.searchbuttons button {
    line-height: 27px;
    padding: 6px 15px;
    color: #5F6368;
    background-color: #F4F4F4;
    font-family: arial, sans-serif;
    font-size: 14px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    margin-left: 10px;
}

.searchbuttons button:hover {
    color: #222;
    border: 1px solid #c6c6c6;
}